<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.comments.mapper.CommentMapper">
    <resultMap id="comment" type="io.spring.comments.model.Comment">
        <id column="id" property="id"/>
        <result column="body" property="body"/>
        <result column="user_id" property="userId"/>
        <result column="article_id" property="articleId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insert">
        insert into comments(id, body, user_id, article_id, created_at, updated_at)
        values (
          #{comment.id},
          #{comment.body},
          #{comment.userId},
          #{comment.articleId},
          #{comment.createdAt},
          #{comment.updatedAt}
        )
    </insert>

    <select id="findById" resultMap="comment">
        select id, body, user_id, article_id, created_at, updated_at
        from comments
        where id = #{id}
    </select>

    <select id="findByIdAndArticleId" resultMap="comment">
        select id, body, user_id, article_id, created_at, updated_at
        from comments
        where id = #{id} and article_id = #{articleId}
    </select>

    <select id="findByArticleId" resultMap="comment">
        select id, body, user_id, article_id, created_at, updated_at
        from comments
        where article_id = #{articleId}
        order by created_at desc
    </select>

    <select id="findByArticleIdWithCursor" resultMap="comment">
        select id, body, user_id, article_id, created_at, updated_at
        from comments
        where article_id = #{articleId}
        <if test='cursor != null and direction == "NEXT"'>
            AND created_at &lt; #{cursor}
        </if>
        <if test='cursor != null and direction == "PREV"'>
            AND created_at > #{cursor}
        </if>
        <if test='direction == "NEXT"'>
            order by created_at desc
        </if>
        <if test='direction == "PREV"'>
            order by created_at asc
        </if>
        limit #{limit}
    </select>

    <delete id="delete">
        delete from comments where id = #{id}
    </delete>
</mapper>
