<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.comments.infrastructure.mybatis.mapper.CommentMapper">
    <insert id="insert">
        insert into comments(id, body, user_id, article_id, created_at, updated_at)
        values (
          #{comment.id},
          #{comment.body},
          #{comment.userId},
          #{comment.articleId},
          #{comment.createdAt},
          #{comment.createdAt}
        )
    </insert>
    <delete id="delete">
        delete from comments where id = #{id}
    </delete>
    <sql id="selectComment">
        select
          id commentId,
          body commentBody,
          user_id commentUserId,
          article_id commentArticleId,
          created_at commentCreatedAt
        from comments
    </sql>
    <select id="findById" resultMap="comment">
        <include refid="selectComment"/>
        where id = #{id}
    </select>
    <select id="findByArticleIdAndId" resultMap="comment">
        <include refid="selectComment"/>
        where id = #{id} and article_id = #{articleId}
    </select>
    <select id="findByArticleId" resultMap="comment">
        <include refid="selectComment"/>
        where article_id = #{articleId}
        order by created_at desc
    </select>
    <select id="findByArticleIdWithCursor" resultMap="comment">
        <include refid="selectComment"/>
        <where>
        article_id = #{articleId}
        <if test='cursor != null and next == true'>
            AND created_at &lt; #{cursor}
        </if>
        <if test='cursor != null and next == false'>
            AND created_at &gt; #{cursor}
        </if>
        </where>
        <if test='next == true'>
            order by created_at desc
        </if>
        <if test='next == false'>
            order by created_at asc
        </if>
        limit #{limit}
    </select>
    <resultMap id="comment" type="io.spring.comments.core.comment.Comment">
        <id column="commentId" property="id"/>
        <result column="commentBody" property="body"/>
        <result column="commentUserId" property="userId"/>
        <result column="commentArticleId" property="articleId"/>
        <result column="commentCreatedAt" property="createdAt"/>
    </resultMap>
</mapper>
