<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.tags.infrastructure.mybatis.mapper.TagMapper">
    <select id="findByName" resultType="io.spring.tags.domain.Tag">
        select id, name from tags where name = #{name}
    </select>
    <select id="findById" resultType="io.spring.tags.domain.Tag">
        select id, name from tags where id = #{id}
    </select>
    <insert id="insert">
        insert into tags (id, name) values (#{tag.id}, #{tag.name})
    </insert>
    <insert id="insertArticleTagRelation">
        insert into article_tags (article_id, tag_id) values (#{articleId}, #{tagId})
    </insert>
</mapper>
