<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.ArticleViewsMapper">

    <insert id="upsertViewCount">
        insert into article_views (article_id, view_count)
        values (#{articleId}, 1)
        on conflict(article_id) do update set view_count = view_count + 1
    </insert>

</mapper>
