<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.TagMapper">
    <insert id="insert">
        insert into tags (id, name) values (#{tag.id}, #{tag.name})
    </insert>

    <update id="update">
        update tags set name = #{tag.name} where id = #{tag.id}
    </update>

    <select id="findById" resultType="io.spring.core.article.Tag">
        select id, name from tags where id = #{id}
    </select>

    <select id="findByName" resultType="io.spring.core.article.Tag">
        select id, name from tags where name = #{name}
    </select>

    <select id="findAll" resultType="io.spring.core.article.Tag">
        select id, name from tags
    </select>

    <delete id="delete">
        delete from tags where id = #{id}
    </delete>

    <select id="findByArticleId" resultType="io.spring.core.article.Tag">
        select T.id, T.name
        from tags T
        inner join article_tags AT on T.id = AT.tag_id
        where AT.article_id = #{articleId}
    </select>

    <delete id="deleteArticleTagsByTagId">
        delete from article_tags where tag_id = #{tagId}
    </delete>
</mapper>
